vendor/
node_modules/
.env
.git/
.gitignore
docker-compose.yml
.dockerignore
README.md
public/build/
storage/framework/cache/data/
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
bootstrap/cache/packages.php
bootstrap/cache/services.php
.editorconfig
*.md
.DS_Store
Thumbs.db
